# Ignorar todo el entorno virtual
ProyectoML/Include/
ProyectoML/Lib/
ProyectoML/Scripts/
ProyectoML/Share/
ProyectoML/pyenv.cfg

# Ignorar archivos de Python temporales y caché
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignorar archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Ignorar archivos de configuración personalizados
*.ini
*.cfg